CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
build/
.DS_Store
**/.DS_Store
/CMakeSettings.json
tmp/
__pycache__/
.pytest_cache/
/out/install/x64-Debug
/libpng-install
/zlib-install
